[Desktop Entry]
Encoding=UTF-8
Name=hera
Comment=hera P2P Cryptocurrency
Comment[fr]=hera, monnaie virtuelle cryptographique pair à pair
Comment[tr]=hera, eşten eşe kriptografik sanal para birimi
Exec=hera-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/hera;
Categories=Office;Finance;
